main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    border: solid 2px black;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

a:visited, a {
    color: black;
}

a:hover {
    background-color: rgb(228, 228, 228);
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-color: black;
}

select, input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 17px;
}

input[type="date"]#bouwjaar:hover {
    cursor: not-allowed;
}

div#wijzigenBrandstof input[type="radio"]:first-child {
    margin-left: 0;
}

div#wijzigenBrandstof label:nth-child(2),
div#wijzigenBrandstof label:nth-child(3) {
    margin-left: 0.5rem;
}

label {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}